Debug
debug
test
temp
*.out
/__pycache__/
notatki.txt
*.pyc
PC/__pycache__/SshProtocolSender.cpython-310.pyc
PC/__pycache__/XmlProtocolParser.cpython-310.pyc
/Tests/
PC/__pycache__/XmlProtocolParser.cpython-310.pyc
*.png
PC/.venv/
.vscode/
PC/ui_MainWindow.py
PC/UIControler.py
PC/MainWindow.ui.autosave
PC/requirements.txt
